<h2>
  {{model.name}}
  <button class='btn btn-danger pull-right' {{action 'delete'}}>Remove School</button>
</h2>

{{#if model.imageUrl}}
  <img {{bind-attr src=model.imageUrl}} class='img-thumbnail' />
{{/if}}

<h4>Info</h4>
<dl>
  <dt>Location</dt>
  <dd>{{model.location}}</dd>

  {{#if model.boardPassRate}}
    <dt>Board Pass Rate</dt>
    <dd>{{model.boardPassRate}}%</dd>
  {{/if}}

  {{#if model.dueDate}}
    <dt>Application Due Date</dt>
    <dd>{{model.dueDate}}</dd>
  {{/if}}
</dl>

<h4>Tasks</h4>
<ul>
  {{#each task in model.tasks}}
    <li>{{task.title}}</li>
  {{/each}}
</ul>
